doctype 5
html
	head
		link(rel='stylesheet', href='/lib/bs/css/bootstrap.min.css')
		link(rel='stylesheet', href='/aakit/css/default.css')
		link(rel='stylesheet', href='/aakit/font/pw_extended.css')
	body
		.container
			h1 AAKit
			//- Use standard DS Resolution for now - maybe enable scaling later
			canvas(width="256", height="192", id="topScreen")
			canvas(width="256", height="192", id="touchScreen")
		script(src="/socket.io/socket.io.js")
		script(src="/lib/jquery.min.js")
		script(src="/lib/bs/js/bootstrap.min.js")
		script(src="/aakit/js/core.js")
		script(src="/aakit/js/mainmenu.js")
		script(src="/aakit/js/textbox.js")
		script(src="/aakit/js/character.js")
		script
			$(document).ready(function(){
				var kit = new AAKit(io)
				kit.init(function() {
					var menu = new Character(kit)
					kit.addGameElement(menu)
					var text = new TextBox(kit)
					text.text = "I finally got a new haircut! This is much better than the old one."
					kit.addGameElement(text)
				})
			})
			