@font-face {
    font-family: 'PWExtended';
    src: url('pw_extended-webfont.eot');
    src: url('pw_extended-webfont.eot?#iefix') format('embedded-opentype'),
         url('pw_extended-webfont.woff') format('woff'),
         url('pw_extended-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}